{% extends 'reclamos/base.html' %}

{% block title %}Reclamos - GMVM{% endblock %}

{% block content %}
<div class="row mb-3 text-center align-items-stretch" xmlns:else="http://www.w3.org/1999/xhtml" xmlns:else="http://www.w3.org/1999/xhtml">
        <div class="col-md-2">
            <div class="card text-bg-primary shadow-sm h-100 card-dashboard">
                <div class="card-body text-center">
                    <i class="fa-solid fa-calendar fa-lg"></i>
                    <div>Ingresados este mes</div>
                    <h3>{{ reclamos_mes }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card text-bg-warning shadow-sm h-100 card-dashboard">
                <div class="card-body text-center">
                    <i class="fa-solid fa-gear fa-lg"></i>
                    <div>En proceso</div>
                    <h3>{{ reclamos_en_proceso }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card text-bg-success shadow-sm h-100 card-dashboard">
                <div class="card-body text-center">
                    <i class="fa-solid fa-check fa-lg"></i>
                    <div>Finalizados</div>
                    <h3>{{ reclamos_finalizados }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card text-bg-dark shadow-sm h-100 card-dashboard">
                <div class="card-body text-center">
                    <i class="fa-solid fa-ban fa-lg"></i>
                    <div>Anulados</div>
                    <h3>{{ reclamos_anulados }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-2">
        <div class="card text-bg-info shadow-sm h-100 card-dashboard">
            <div class="card-body text-center">
                <i class="fa-solid fa-clock fa-lg"></i>
                <div>Tiempo promedio</div>
                <h3>{{ tiempo_promedio }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-2" style="cursor:pointer" onclick="window.location.href='?demorados=1'">
        <div class="card shadow-sm h-100 card-dashboard {% if reclamos_demorados > 0 %}bg-danger text-white alerta-demora{% else %}text-bg-dark{% endif %}">
            <div class="card-body py-2 text-center">
                <i class="fa-solid fa-triangle-exclamation"></i>
                 <div class="small">Demorados</div>
                <h5>{{ reclamos_demorados }}</h5>
           </div>
        </div>
    </div>

</div>


<div class="tabla-reclamos-container">
    <table id="tablaReclamos" class="table table-bordered table-striped table-hover align-middle">
        <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Fecha Creación</th>
                    <th>Fecha Cierre</th>
                    <th>Tipo</th>
                    <th>Prioridad</th>
                    <th>Título</th>
                    <th>Estado</th>
                    <th>Vecino</th>
                    <th> </th>

                </tr>
            </thead>

            <tbody>
            {% for reclamo in reclamos %}

            <tr class="fila-reclamo {% if reclamo.esta_demorado %}table-danger{% endif %}" data-id="{{ reclamo.id }}" {% if reclamo.esta_demorado %}
                title="Este reclamo está demorado hace {{ reclamo.dias_demora }} días" {% endif %}>

                <td>{{ reclamo.id }}</td>
                <td>{{ reclamo.usuario|capfirst }}</td>
                <td>{{ reclamo.fecha_creacion }}</td>
                <td>{{ reclamo.fecha_cierre|default:"—" }}</td>
                <td>{{ reclamo.tipo_reclamo }}</td>

                <td>
                      {% if reclamo.get_prioridad_display == "Alta" %}
                        <span class="badge bg-danger badge-custom">{{ reclamo.get_prioridad_display }}</span>
                      {% elif reclamo.get_prioridad_display == "Media" %}
                        <span class="badge bg-warning badge-custom">{{ reclamo.get_prioridad_display }}</span>
                      {% else %}
                        <span class="badge bg-success badge-custom">{{ reclamo.get_prioridad_display }}</span>
                      {% endif %}
                </td>

                <td>{{ reclamo.titulo }}</td>

                <td>
                      {% if reclamo.estado.nombre == "INGRESO" %}
                        <span class="badge bg-info badge-custom">{{ reclamo.estado }}</span>
                      {% elif reclamo.estado.nombre == "EN_PROCESO" %}
                        <span class="badge bg-warning badge-custom">{{ reclamo.estado }}</span>
                      {% elif reclamo.estado.nombre == "EN_REVISION" %}
                        <span class="badge bg-warning badge-custom">{{ reclamo.estado }}</span>
                      {% elif reclamo.estado.nombre == "VALIDADO" %}
                        <span class="badge bg-warning badge-custom">{{ reclamo.estado }}</span>
                      {% elif reclamo.estado.nombre == "CANCELADO" %}
                        <span class="badge bg-warning badge-custom">{{ reclamo.estado }}</span>
                      {% elif reclamo.estado.nombre == "ANULADO" %}
                        <span class="badge bg-warning badge-custom">{{ reclamo.estado }}</span>
                      {% elif reclamo.estado.nombre == "FINALIZADO" %}
                        <span class="badge bg-success badge-custom">{{ reclamo.estado }}</span>
                      {% else %}
                        <span class="badge bg-info badge-custom">{{ reclamo.estado }}</span>
                      {% endif %}
                </td>

                <td>{{ reclamo.id_contribuyente }}</td>
                <td class="text-center">

                    <i class="fa-solid fa-pen text-primary editar-reclamo me-2"
                       style="cursor:pointer"
                       data-id="{{ reclamo.id }}">
                    </i>

                    <i class="fa-solid fa-clock-rotate-left text-secondary ver-historial"
                       style="cursor:pointer"
                       data-id="{{ reclamo.id }}">
                    </i>

                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center">No se encontraron reclamos con los filtros aplicados</td>
            </tr>
            {% endfor %}
            </tbody>
    </table>
</div>

<!--------------------------------- Graficos estadisticos ----------------------------------->
<div class="row mt-4">

    <div class="col-md-4">
        <div class="card shadow-sm h-100">
            <div class="card-header">
                Reclamos por tipo
            </div>
            <div class="card-body">
                <canvas id="graficoTipos"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm h-100">
            <div class="card-header">
                Reclamos por mes
            </div>
            <div class="card-body">
                <canvas id="graficoMes"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm h-100">
            <div class="card-header">
                Reclamos por estado
            </div>
            <div class="card-body">
                <canvas id="graficoEstado"></canvas>
            </div>
        </div>
    </div>

</div>
<!---------------------------------Fin Graficos estadisticos ----------------------------------->
{% endblock %}

{% block sidebar_right %}

<!-- FRAME FILTROS -->
<div class="card shadow-sm">
    <div class="card-header fw-bold">
        <i class="fa-solid fa-filter"></i> Filtros
    </div>

    <div class="card-body">
        <form method="get">

            <div class="mb-2">
                <label class="form-label">Buscar</label>
                <input type="text" id="busquedaGeneral" class="form-control form-control-sm"
                       placeholder="ID, vecino, título, usuario...">
            </div>

            <div class="mb-2">
                <label class="form-label">Fecha creación</label>
                <input type="date" class="form-control form-control-sm"
                       name="fecha_desde" value="{{ fecha_desde }}">
            </div>

            <div class="mb-2">
                <label class="form-label">Fecha hasta</label>
                <input type="date" class="form-control form-control-sm"
                       name="fecha_hasta" value="{{ fecha_hasta}}">
            </div>

            <div class="mb-3">
                <label class="form-label">Tipo reclamo</label>
                <select class="form-select form-select-sm" name="tipo">
                   <option value="">Todos</option>
                        {% for t in tipos %}
                        <option value="{{t.id}}" {% if request.GET.tipo == t.id|stringformat:"s" %}selected{% endif %}>
                        {{t.nombre}}
                        </option>
                        {% endfor %}
                </select>
            </div>

            <div class="mb-2">
                <label class="form-label">Estado</label>
                <select name="estado" class="form-select">
                    <option value="">Todos</option>
                    {% for e in estados %}
                       {% with eid=e.id|stringformat:"s" %}
                            <option value="{{ e.id }}"
                            {% if request.GET.estado == eid %}selected{% endif %}>
                                {{ e.nombre }}
                            </option>
                            {% endwith %}
                    {% endfor %}
                </select>
            </div>

            <div class="mb-2">
                <label class="form-label">Prioridad</label>
                <select class="form-select form-select-sm" name="prioridad">
                    <option value="">Todas</option>
                    <option value="3" {% if request.GET.prioridad == "3" %}selected{% endif %}>Alta</option>
                    <option value="2" {% if request.GET.prioridad == "2" %}selected{% endif %}>Media</option>
                    <option value="1" {% if request.GET.prioridad == "1" %}selected{% endif %}>Baja</option>
                </select>
            </div>

            <div class="mb-2">
                <label class="form-label">Vecino</label>
                <select name="vecino" class="form-select">
                    <option value="">Todos</option>
                    {% for v in vecinos %}
                    <option value="{{v.id}}" {% if request.GET.vecino == v.id|stringformat:"s" %}selected{% endif %}>
                    {{v.nombre}}
                    </option>
                    {% endfor %}

                </select>
            </div>

            <button class="btn btn-primary btn-sm w-100">
                <i class="fa-solid fa-magnifying-glass"></i> Aplicar filtros
            </button>

        </form>
    </div>
</div>
<!--FIN  FRAME FILTROS -->
<!-- FRAME ACCIONES -->
<div class="card mb-3 shadow-sm">
    <div class="card-header fw-bold">
        <i class="fa-solid fa-gears"></i> Acciones
    </div>
    <div class="card-body d-grid gap-2">

        <button class="btn btn-success btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#modalReclamo">
            <i class="fa-solid fa-plus"></i> Nuevo Reclamo
        </button>

        <button class="btn btn-warning btn-sm" id="btnEditar" disabled>
            <i class="fa-solid fa-pen"></i> Editar
        </button>

        <button class="btn btn-danger btn-sm" disabled>
            <i class="fa-solid fa-trash"></i> Eliminar
        </button>

    </div>
</div>



<!-- MODAL NUEVO RECLAMO -->
<div class="modal fade" id="modalReclamo" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="reclamo_id" id="reclamo_id">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitulo">
                <i class="fa-solid fa-plus"></i> Nuevo Reclamo
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

          {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
          {% endif %}

        <div class="modal-body">

          <div class="row">

            <div class="col-md-6 mb-3">
              <label class="form-label">ID Vecino</label>
              {{ form.id_contribuyente }}
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label">Tipo</label>
              {{ form.tipo_reclamo }}
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label">Estado</label>
              {{ form.estado }}
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label">Prioridad</label>
              {{ form.prioridad }}
            </div>

            <div class="col-12 mb-3">
              <label class="form-label">Título</label>
              {{ form.titulo }}
            </div>

            <div class="col-12 mb-3">
              <label class="form-label">Descripción</label>
              {{ form.descripcion }}
            </div>
          </div>

            <div class="col-12 mb-3">
                <label class="form-label">Observación operador</label>
                <textarea name="comentario_operador" class="form-control" rows="4" placeholder="Observación o detalle del cambio realizado..."></textarea>
            </div>

        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success" id="btnGuardar">
             Guardar
          </button>
          <button type="button" class="btn btn-secondary"
                  data-bs-dismiss="modal">
              Cancelar
          </button>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- MODAL HISTORIAL DE UN RECLAMO -->
<div class="modal fade" id="modalHistorial" tabindex="-1">
  <div class="modal-dialog modal-lg modal-historial">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
          <i class="fa-solid fa-clock-rotate-left"></i> Historial del Reclamo
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body modal-historial-body">

        <table class="table table-sm table-bordered tabla-historial">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th>Acción</th>
                    <th>Cambios</th>
                    <th>Comentario</th>
                </tr>
            </thead>

            <tbody id="tabla_historial">

            </tbody>

        </table>

      </div>

    </div>
  </div>
</div>

<script>


var tabla = $('#tablaReclamos').DataTable({
    pageLength: 35,
    dom: 'rt',
    paging: false,
    info: false,
    lengthChange: false

});

$('#busquedaGeneral').on('keyup', function () {
    tabla.search(this.value).draw();
});

let reclamoSeleccionado = null

document.querySelectorAll(".fila-reclamo").forEach(fila => {

    fila.addEventListener("click", function(){

        document.querySelectorAll(".fila-reclamo").forEach(f=>{
            f.classList.remove("fila-seleccionada")
        })

        this.classList.add("fila-seleccionada")

        reclamoSeleccionado = this.dataset.id
        document.getElementById("btnEditar").disabled = false
    })

})

document.querySelectorAll(".fila-reclamo").forEach(fila => {

    fila.addEventListener("dblclick", function(){

        let id = this.dataset.id
        document.getElementById("reclamo_id").value = id;
        abrirEdicion(id)

    })

})

document.querySelectorAll(".editar-reclamo").forEach(icono => {

    icono.addEventListener("click", function(){

        let id = this.dataset.id
        document.getElementById("reclamo_id").value = id;
        document.querySelector("[name='comentario_operador']").value = ""
        abrirEdicion(id)

    })

})

function abrirEdicion(id){

    fetch(`/reclamo/${id}/`)
    .then(response => response.json())
    .then(data => {
        document.getElementById("modalTitulo").innerHTML =
            '<i class="fa-solid fa-pen"></i> Editar Reclamo #' + data.id

        document.getElementById("btnGuardar").innerText = "Actualizar"
        document.querySelector("[name='comentario_operador']").value = ""
        document.getElementById("reclamo_id").value = data.id
        document.getElementById("id_id_contribuyente").readOnly = true
        document.getElementById("id_id_contribuyente").value = data.id_contribuyente
        document.getElementById("id_titulo").value = data.titulo
        document.getElementById("id_descripcion").value = data.descripcion
        document.getElementById("id_prioridad").value = data.prioridad
        document.getElementById("id_estado").value = data.estado
        document.getElementById("id_tipo_reclamo").value = data.tipo_reclamo

        new bootstrap.Modal(document.getElementById('modalReclamo')).show()

    })

}

document.querySelector('[data-bs-target="#modalReclamo"]').addEventListener("click", function(){

    document.getElementById("modalTitulo").innerHTML =
        '<i class="fa-solid fa-plus"></i> Nuevo Reclamo'
    document.querySelector("#modalReclamo form").reset()
    document.getElementById("btnGuardar").innerText = "Crear Reclamo"
    document.getElementById("id_id_contribuyente").readOnly = false
    document.getElementById("reclamo_id").value = ""

})

document.getElementById("btnEditar").addEventListener("click", function(){

    if(reclamoSeleccionado){
        document.getElementById("reclamo_id").value = reclamoSeleccionado
        document.querySelector("[name='comentario_operador']").value = ""
        abrirEdicion(reclamoSeleccionado)
    }

})

document.querySelectorAll(".ver-historial").forEach(icono => {

    icono.addEventListener("click", function(){
        let id = this.dataset.id

        fetch(`/reclamo/${id}/historial/`)
        .then(response => response.json())
        .then(data => {

            let tabla = document.getElementById("tabla_historial")
            tabla.innerHTML = ""

            data.forEach(h => {

                tabla.innerHTML += `
                                    <tr>
                                        <td>${h.fecha}</td>
                                        <td>${h.usuario.toUpperCase()}</td>
                                        <td>${h.accion}</td>
                                        <td>${h.cambios}</td>
                                        <td>${h.comentario}</td>
                                    </tr>
                                    `
            })

            new bootstrap.Modal(document.getElementById('modalHistorial')).show()

        })

    })

})

</script>

{% endblock %}




